/* frontend/src/pages/MyOrders/MyOrders.css */

.my-orders {
    margin: 50px auto;
    width: 90%;
    max-width: 900px;
}

.my-orders h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.my-orders .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-orders-order {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 15px 20px;
    color: #454545;
    border: 1px solid #ff6347;
    border-radius: 8px;
}

.my-orders-order img {
    width: 50px;
}

.my-orders-order .order-status {
    color: #ff6347;
}

.my-orders-order button {
    background-color: #fff0ed;
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    color: #454545;
    font-size: 14px;
}

@media (max-width: 900px) {
    .my-orders-order {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 15px;
        font-size: 12px;
        padding: 10px 15px;
    }
    .my-orders-order button {
        grid-column: span 3;
    }
}